<script src="{{ url_for('static', filename='lib/jqueryui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/feather-icons/feather.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery-loading/dist/jquery.loading.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/select2/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.flot/jquery.flot.stack.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.flot/jquery.flot.resize.js') }}"></script>

<script src="{{ url_for('static', filename='assets/js/dashforge.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dashforge.aside.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='assets/js/calendar-events.js') }}"></script> -->
<script src="{{ url_for('static', filename='lib/fslightbox-basic/fslightbox.js') }}"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- append theme customizer -->
<script src="{{ url_for('static', filename='lib/js-cookie/js.cookie.js') }}"></script>

